In [26]:

from bs4 import BeautifulSoup as bs
import json
import re
import sys
import time, random
import pandas as pd
import requests

def get_news(n_url):
    news_detail = []
    print(n_url)
    breq = requests.get(n_url)
    bsoup = bs(breq.content, 'html.parser')
    
    # 제목 파싱
    title = bsoup.select('h3#articleTitle')[0].text
    news_detail.append(title)
    
    # 날짜
    pdate = bsoup.select('.t11')[0].get_text()[:10]
    news_detail.append(pdate)
    
    # news text
    _text = bsoup.select('#articleBodyContents')[0].get_text().replace('\n', ' ')
    btext = _text.replace("// flash 오류를 우회하기 위한 함수 추가 function _flash_removeCallback() {}", "")
    news_detail.append(btext.strip())
    
    # 신문사 
    pcompany = bsoup.select("#footer address")[0].a.get_text()
    news_detail.append(pcompany)
    
    return news_detail

columns = ["날짜", "신문사", "제목", "내용"]
df = pd.DataFrame(columns=columns)

query = '코로나'   # url 인코딩 에러는 encoding parse.quote(query)
s_date = "2020.04.01"
e_date = "2020.04.08"
s_from = s_date.replace(".", "")
e_to = e_date.replace(".", "")
page = 1

while True:
    time.sleep(random.sample(range(3), 1)[0])
    print(page)
    url = f"https://search.naver.com/search.naver?where=news&query={query}&sort=1&field=1&ds={s_date}&de={e_date}&nso=so%3Ar%2Cp%3Afrom{s_from}to{e_to}%2Ca%3A&start={str(page)}"
    header = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36'
    }
    
    req  = requests.get(url, headers=header)
    print (url)
    cont = req.content
    soup = bs(cont, 'html.parser')
    
    if soup.findAll("a", {"class" : "_sp_each_url"}) == []:
        break
        
    for urls in soup.findAll("a", {"class" : "_sp_each_url"}):
        try:
            if urls.attrs['href'].startswith("https://news.naver.com"):
                print(urls.attrs["href"])
                news_detail = get_news(urls.attrs["href"])
                df = df.append(pd.DataFrame(
                    [[news_detail[1], news_detail[3], news_detail[0], news_detail[2]]], columns=columns))
        except Exception as e:
            print (e)
            continue
    page += 10
    if (page == 31):
        break;

1
https://search.naver.com/search.naver?where=news&query=코로나&sort=1&field=1&ds=2020.04.01&de=2020.04.08&nso=so%3Ar%2Cp%3Afrom20200401to20200408%2Ca%3A&start=1
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=001&aid=0011533947
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=001&aid=0011533947
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=004&oid=215&aid=0000862824
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=004&oid=215&aid=0000862824
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=001&aid=0011533946
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=001&aid=0011533946
11
https://search.naver.com/search.naver?where=news&query=코로나&sort=1&field=1&ds=2020.04.01&de=2020.04.08&nso=so%3Ar%2Cp%3Afrom20200401to20200408%2Ca%3A&start=11
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=001&aid=0011533946
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=001&aid=0011533946
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=003&aid=0009804632
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=003&aid=0009804632
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=101&oid=001&aid=0011533945
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=101&oid=001&aid=0011533945
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=001&aid=0011533943
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=001&aid=0011533943
21
https://search.naver.com/search.naver?where=news&query=코로나&sort=1&field=1&ds=2020.04.01&de=2020.04.08&nso=so%3Ar%2Cp%3Afrom20200401to20200408%2Ca%3A&start=21

In [27]:
print (df)

           날짜     신문사                                         제목  \
0  2020.04.08    연합뉴스  러시아 코로나19 신규 확진자 이틀째 1천명대…"전체 8천672명"(종합)
0  2020.04.08  한국경제TV            뉴욕증시, 코로나19 진정 기대 속 숨고르기…장중 강보합
0  2020.04.08    연합뉴스                   이탈리아, 코로나19에 난민구조선 입항 금지
0  2020.04.08    연합뉴스                   이탈리아, 코로나19에 난민구조선 입항 금지
0  2020.04.08     뉴시스    日 코로나19 신규감염 긴급사태 익일 500명 돌파...누계 5673명
0  2020.04.08    연합뉴스           WTO "코로나19로 올해 세계 무역 32% 감소할 수도"
0  2020.04.08    연합뉴스           뉴욕증시 '코로나19 추이' 주목 속 숨고르기…장중 강보합

                                                  내용
0  "모스크바 발병자 5천841명"…현지 전문가 "6월중순께나 수그러들 것"(모스크바=...
0  [한국경제TV 김주리 기자]미국 뉴욕증시가 소폭 오름세를 보이고 있다.8일(현지시간...
0  마스크를 쓴 채 난민 구조활동을 하는 독일 구호단체 '씨아이' 소속 요원들 모습. ...
0  마스크를 쓴 채 난민 구조활동을 하는 독일 구호단체 '씨아이' 소속 요원들 모습. ...
0  도쿄 144명 등 503명 폭증...총 114명 사망[후쿠오카=AP/뉴시스]8일 오...
0  세계 무역에 미치는 코로나19 영향 전망[도표=WTO 제공](제네바=연합뉴스) 임은...
0  유럽증시는 1%대 하락세(뉴욕=연합뉴스) 이준서 특파원 = 미국 뉴욕증시가 소폭 오...

In [23]:
import requests
from bs4 import BeautifulSoup
import json
import re
import sys
import time, random
import pandas as pd
import pymysql

# 접속
db = pymysql.connect(host='184.72.181.76',
                     port=3306,
                     user='user',
                     passwd='goqudejr15',
                     db='mydb',
                     charset='utf8')

# 커서 가져오기
cursor = db.cursor()

def get_news(n_url):
    news_detail = []
    print(n_url)
    breq = requests.get(n_url)
    bsoup = BeautifulSoup(breq.content, 'html.parser')

    # 제목 파싱
    title = bsoup.select('h3#articleTitle')[0].text
    news_detail.append(title)

    # 날짜
    pdate = bsoup.select('.t11')[0].get_text()[:11]
    news_detail.append(pdate)

    # news text
    _text = bsoup.select('#articleBodyContents')[
        0].get_text().replace('\n', " ")
    btext = _text.replace(
        "// flash 오류를 우회하기 위한 함수 추가 function _flash_removeCallback() {}", "")
    news_detail.append(btext.strip())

    # 신문사
    pcompany = bsoup.select('#footer address')[0].a.get_text()
    news_detail.append(pcompany)

    return news_detail

columns = ['날짜', '신문사', '제목', '내용']
df = pd.DataFrame(columns=columns)

query = '코로나'   # url 인코딩 에러는 encoding parse.quote(query)
s_date = "2020.04.01"
e_date = "2020.04.08"
s_from = s_date.replace(".", "")
e_to = e_date.replace(".", "")
page = 1

while True:
    time.sleep(random.sample(range(3), 1)[0])
    print(page)

    url = "https://search.naver.com/search.naver?where=news&query=" + query + "&sort=1&field=1&ds=" + s_date + "&de=" + e_date + \
        "&nso=so%3Ar%2Cp%3Afrom" + s_from + "to" + \
        e_to + "%2Ca%3A&start=" + str(page)

    header = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36'
    }

    req = requests.get(url, headers=header)
    print(url)
    cont = req.content
    soup = BeautifulSoup(cont, 'html.parser')

    if soup.findAll("a", {"class": "_sp_each_url"}) == []:
        break

    for urls in soup.findAll("a", {"class": "_sp_each_url"}):
        try:
            if urls.attrs["href"].startswith("https://news.naver.com"):
                print(urls.attrs["href"])
                news_detail = get_news(urls.attrs["href"])
                sql = '''
                    INSERT INTO news (date, company, title, content) VALUES(news_detail[1],
                    news_detail[3], news_detail[0], news_detail[2])
                '''
                print(sql)
                cursor.execute(sql)
                db.commit()
#                 db.close()
#                 df = df.append(pd.DataFrame(
#                     #  1 날짜, 2 내용 0 제목 회사 3 신문사
#                     [[news_detail[1], news_detail[3], news_detail[0], news_detail[2]]], columns=columns))
        except Exception as e:
            print(e)
            continue
        
    page += 10
    if page == 21:
        break

1
https://search.naver.com/search.naver?where=news&query=코로나&sort=1&field=1&ds=2020.04.01&de=2020.04.08&nso=so%3Ar%2Cp%3Afrom20200401to20200408%2Ca%3A&start=1
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=001&aid=0011533947
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=001&aid=0011533947

                    INSERT INTO news (date, company, title, content) VALUES(news_detail[1],
                    news_detail[3], news_detail[0], news_detail[2])

(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '[1],\n                    news_detail[3], news_detail[0], news_detail[2])' at line 1")
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=004&oid=215&aid=0000862824
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=004&oid=215&aid=0000862824

                    INSERT INTO news (date, company, title, content) VALUES(news_detail[1],
                    news_detail[3], news_detail[0], news_detail[2])

(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '[1],\n                    news_detail[3], news_detail[0], news_detail[2])' at line 1")
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=001&aid=0011533946
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=001&aid=0011533946

                    INSERT INTO news (date, company, title, content) VALUES(news_detail[1],
                    news_detail[3], news_detail[0], news_detail[2])

(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '[1],\n                    news_detail[3], news_detail[0], news_detail[2])' at line 1")
11
https://search.naver.com/search.naver?where=news&query=코로나&sort=1&field=1&ds=2020.04.01&de=2020.04.08&nso=so%3Ar%2Cp%3Afrom20200401to20200408%2Ca%3A&start=11
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=001&aid=0011533946
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=001&aid=0011533946

                    INSERT INTO news (date, company, title, content) VALUES(news_detail[1],
                    news_detail[3], news_detail[0], news_detail[2])

(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '[1],\n                    news_detail[3], news_detail[0], news_detail[2])' at line 1")
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=003&aid=0009804632
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=104&oid=003&aid=0009804632

                    INSERT INTO news (date, company, title, content) VALUES(news_detail[1],
                    news_detail[3], news_detail[0], news_detail[2])

(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '[1],\n                    news_detail[3], news_detail[0], news_detail[2])' at line 1")
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=101&oid=001&aid=0011533945
https://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=101&oid=001&aid=0011533945

                    INSERT INTO news (date, company, title, content) VALUES(news_detail[1],
                    news_detail[3], news_detail[0], news_detail[2])

(1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '[1],\n                    news_detail[3], news_detail[0], news_detail[2])' at line 1")

In [8]:
print(df['내용'])

0    "모스크바 발병자 5천841명"…현지 전문가 "6월중순께나 수그러들 것"(모스크바=...
0    [한국경제TV 김주리 기자]미국 뉴욕증시가 소폭 오름세를 보이고 있다.8일(현지시간...
0    마스크를 쓴 채 난민 구조활동을 하는 독일 구호단체 '씨아이' 소속 요원들 모습. ...
0    마스크를 쓴 채 난민 구조활동을 하는 독일 구호단체 '씨아이' 소속 요원들 모습. ...
0    도쿄 144명 등 503명 폭증...총 114명 사망[후쿠오카=AP/뉴시스]8일 오...
0    세계 무역에 미치는 코로나19 영향 전망[도표=WTO 제공](제네바=연합뉴스) 임은...
0    유럽증시는 1%대 하락세(뉴욕=연합뉴스) 이준서 특파원 = 미국 뉴욕증시가 소폭 오...
Name: 내용, dtype: object

In [22]:
import pymysql

# 접속
db = pymysql.connect(host='184.72.181.76',
                     port=3306,
                     user='user',
                     passwd='goqudejr15',
                     db='mydb',
                     charset='utf8')

# 커서 가져오기
cursor = db.cursor()

# SQL 문 만들기
sql = '''
    SELECT * FROM news;
'''

# 실행하기
cursor.execute(sql)

# DB에 Complete 하기
db.commit()

# DB 연결 닫기
db.close()